/* Solo estilos mínimos no cubiertos por Bootstrap */
nav {
  background-color: var(--color-primario);
}


.logo {
  height: 90px;
}

.nav-link.active {
  border-bottom: 2.5px solid #066a97;
  color: #066a97 !important;
}