<nav class="navbar py-1 text-white">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <!-- Logo o título -->
    <a class="navbar-brand text-white" [href]="intranet" target="_blank">INTRANET</a>
    <!-- Enlaces de texto e íconos -->
    <div class="d-flex align-items-center">
      <!-- Enlaces de texto -->
      <span class="me-3"><i class="fa-solid fa-phone me-1"></i>+34 924 25 17 61</span>
      <span class="me-3" ><i class="fa-solid fa-envelope me-1"></i>guadalupe&#64;fundacionloyola.es</span>
      <!-- Íconos -->
      <a class="nav-link me-2" [href]="facebook" target="_blank">
          <i class="fa-brands fa-facebook me-1"></i>
      </a>
      <a class="nav-link me-2" [href]="twitter_X" target="_blank">
          <i class="fa-brands fa-x-twitter me-1"></i>
      </a>
      <a class="nav-link me-2" [href]="youtube" target="_blank">
          <i class="fa-brands fa-youtube me-1"></i>
      </a>
      <a class="nav-link me-2" [href]="instagram" target="_blank">
          <i class="fa-brands fa-instagram me-1"></i>
      </a>
        <button (click)="logout()" class="btn btn-danger btn-sm">
            <i class="fa-solid fa-right-from-bracket me-1"></i> Logout
        </button>
    </div>
  </div>
</nav>
<div class="border d-flex justify-content-between align-items-center">
    <a [href]="evg" target="_blank" class="m-2"><img src="assets/logotipo.png" alt="Logo Fundación Loyola" class="logo"/></a>
  <div class="pe-5 text-dark">
    <ul class="navbar-nav d-flex flex-row justify-content-between">
      <li class="nav-item mx-4">
        <a class="nav-link menu-link fs-6" routerLink="/info-centros" routerLinkActive="active">Centros</a>
      </li>
      <li class="nav-item mx-4">
        <a class="nav-link menu-link fs-6" routerLink="/info-formaciones" routerLinkActive="active">Formaciones / Cursos</a>
      </li>
      <li class="nav-item mx-4">
        <a class="nav-link menu-link fs-6" routerLink="/info-educadores" routerLinkActive="active">Usuarios</a>
      </li>
    </ul>
  </div>
</div>

