<nav class="navbar py-1 text-white">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <!-- Logo o título -->
    <a class="navbar-brand text-white" routerLink="/">INTRANET</a>
    <!-- Enlaces de texto e íconos -->
    <div class="d-flex align-items-center">
      <!-- Enlaces de texto -->
      <a class="nav-link me-3" href="#">
          <i class="fa-solid fa-phone me-1"></i>
          +34 924 25 17 61
      </a>
      <a class="nav-link me-3" href="#">
          <i class="fa-solid fa-envelope me-1"></i>
          guadalupe&#64;fundacionloyola.es
      </a>
      <!-- Íconos -->
      <a class="nav-link me-2" [href]="facebook" target="_blank">
          <i class="fa-brands fa-facebook me-1"></i>
      </a>
      <a class="nav-link me-2" [href]="twitter_X" target="_blank">
          <i class="fa-brands fa-x-twitter me-1"></i>
      </a>
      <a class="nav-link me-2" [href]="youtube" target="_blank">
          <i class="fa-brands fa-youtube me-1"></i>
      </a>
      <a class="nav-link me-2" [href]="instagram" target="_blank">
          <i class="fa-brands fa-instagram me-1"></i>
      </a>
        <button (click)="logout()" class="btn btn-danger btn-sm">
            <i class="fa-solid fa-right-from-bracket me-1"></i> Logout
        </button>
    </div>
  </div>
  <!-- Header alternativo para otros roles -->
  <div *ngIf="rol != 'admin'" class="container-fluid d-flex justify-content-between align-items-center border border-danger">
    <img src="" alt=""/>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row justify-content-between">
      <li class="nav-item mx-2">
        <a class="nav-link text-white fs-6" routerLink="/info-centros" routerLinkActive="fs-5 fw-bold">Centros</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link text-white fs-6" routerLink="/info-formaciones" routerLinkActive="fs-5 fw-bold">Formaciones/Cursos</a>
      <li class="nav-item mx-2">
        <a class="nav-link text-white fs-6" routerLink="/info-educadores" routerLinkActive="fs-5 fw-bold">Usuarios</a>
      </li>
    </ul>
  </div>
</nav>
