<!-- Modal de Bootstrap para Modificar Centro -->
<div class="modal fade" id="modificarCentroModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modificarCentroModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="modificarCentroModalLabel">Modificar Centro</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formCentro" (ngSubmit)="guardarCambiosCentro()">
          <!-- Nombre del Centro -->
          <div class="mb-3">
            <label for="nombreCentro" class="form-label">Nombre Centro</label>
            <input
              type="text"
              class="form-control"
              id="nombreCentro"
              formControlName="nombre_centro"
            />
            <div *ngIf="formCentro.get('nombre_centro')?.invalid && formCentro.get('nombre_centro')?.touched">
              <small class="text-danger">{{ getErrorMessage('nombre_centro') }}</small>
            </div>
          </div>

          <!-- Dirección del Centro -->
          <div class="mb-3">
            <label for="direccionCentro" class="form-label">Dirección</label>
            <input
              type="text"
              class="form-control"
              id="direccionCentro"
              formControlName="direccion_centro"
            />
            <div *ngIf="formCentro.get('direccion_centro')?.invalid && formCentro.get('direccion_centro')?.touched">
              <small class="text-danger">{{ getErrorMessage('direccion_centro') }}</small>
            </div>
          </div>

          <!-- Código Postal -->
          <div class="mb-3">
            <label for="cp" class="form-label">Código Postal</label>
            <input
              type="text"
              class="form-control"
              id="cp"
              formControlName="cp"
            />
            <div *ngIf="formCentro.get('cp')?.invalid && formCentro.get('cp')?.touched">
              <small class="text-danger">{{ getErrorMessage('cp') }}</small>
            </div>
          </div>

          <!-- Localidad -->
          <div class="mb-3">
            <label for="localidad" class="form-label">Localidad</label>
            <input
              type="text"
              class="form-control"
              id="localidad"
              formControlName="nombre_localidad"
            />
            <div *ngIf="formCentro.get('nombre_localidad')?.invalid && formCentro.get('nombre_localidad')?.touched">
              <small class="text-danger">{{ getErrorMessage('nombre_localidad') }}</small>
            </div>
          </div>

          <!-- Teléfono -->
          <div class="mb-3">
            <label for="telefono" class="form-label">Teléfono</label>
            <input
              type="text"
              class="form-control"
              id="telefono"
              formControlName="telefono_centro"
            />
            <div *ngIf="formCentro.get('telefono_centro')?.invalid && formCentro.get('telefono_centro')?.touched">
              <small class="text-danger">{{ getErrorMessage('telefono_centro') }}</small>
            </div>
          </div>

          <!-- Correo -->
          <div class="mb-3">
            <label for="correo" class="form-label">Correo</label>
            <input
              type="email"
              class="form-control"
              id="correo"
              formControlName="correo_centro"
            />
            <div *ngIf="formCentro.get('correo_centro')?.invalid && formCentro.get('correo_centro')?.touched">
              <small class="text-danger">{{ getErrorMessage('correo_centro') }}</small>
            </div>
          </div>

          <!-- Botón de Guardar -->
          <button type="submit" class="btn btn-primary" [disabled]="formCentro.invalid || !formCentro.dirty">Guardar Cambios</button>
        </form>
      </div>
    </div>
  </div>
</div>