<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-start mb-3">
        <h4>Inscripciones en la formación</h4>
        <div class="d-flex flex-column align-items-end">
            <button (click)="loadModalUsers()" class="btn btn-primary mb-2" data-bs-target="#inscripcionFormacionModal" data-bs-toggle="modal">
                + Inscribir Usuarios
            </button>
            <button *ngIf="usuariosABorrar.length > 0" class="btn btn-danger" (click)="borrarUsuarios()">
                Confirmar Desasignación
            </button>
        </div>
    </div>
    <table id="usuariosFormacion" class="table table-bordered table-hover">
        <thead class="table-light">
        <tr>
            <th>Nombre completo</th>
            <th>Correo electrónico</th>
            <th>Teléfono</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <!-- Filas dinámicas via DataTables -->
        </tbody>
    </table>
</div>
<app-asignar-usuarios (updateTable)="ngOnInit()" ></app-asignar-usuarios>


