<div class="container mt-4">
    <div *ngIf="usuariosABorrar.length > 0">
        <button class="btn btn-danger" (click)="borrarUsuarios()">Confirmar Desasignación</button>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4>Inscripciones en la formación</h4>
        <button class="btn btn-primary" data-bs-target="#inscripcionFormacionModal" data-bs-toggle="modal">+ Inscribir Usuarios</button>
    </div>
    <table id="usuariosFormacion" class="table table-bordered table-hover">
        <thead class="table-light">
        <tr>
            <th>Nombre completo</th>
            <th>Correo electrónico</th>
            <th>Teléfono</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <!-- Filas dinámicas via DataTables -->
        </tbody>
    </table>
</div>


