<div class="login-wrapper">
    <div class="login-card">
        <h2>Inicia sesión</h2>
        <p>Accede con tu cuenta de Google o mediante correo y contraseña</p>
        <div id="google-signin-button"></div>
<!--        <hr>-->
<!--        <form>-->
<!--            <div class="form-group">-->
<!--                <input type="email" class="form-control" placeholder="Correo" [(ngModel)]="email" name="email">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="password" name="password">-->
<!--            </div>-->
<!--            <button type="submit" class="btn btn-primary" (click)="login()">Iniciar sesión</button>-->
<!--        </form>-->
    </div>
</div>
