<div class="container-fluid border">
    <!--    User Filter-->
    <div class="card my-3 mx-auto border border-danger">
        <div class="card-header ">
            <h6 class="border m-0">Listado de usuarios</h6>
        </div>
        <div class="card-body ">
            <form action="">
                <div><label for=""></label><input type="text"></div>
                <div><label for=""></label><input type="text"></div>
                <div><label for=""></label><input type="text"></div>
                <div><label for=""></label><input type="text"></div>
                <div><label for=""></label><input type="text"></div> 
            </form>
        </div>
    </div>
</div>
