/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "@ng-select/ng-select/themes/default.theme.css";


html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans', sans-serif; }

/* Estilos para el difuminado del fondo en los swal */
.swal2-backdrop-blur {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.4) !important;
}
