<div class="container-fluid p-4">

    <!-- Sección del usuario -->
    <div class="row mb-4">
        <!-- Card con la imagen -->
        <div class="col-md-1">
            <div class="card text-center">
                <img [src]="imgPath" class="card-img-top p-3" alt="Foto de usuario" />
                <div class="card-body">
                    <h5 class="card-title">Foto de Usuario</h5>
                </div>
            </div>
        </div>

        <!-- Card con los datos -->
        <div class="col-md-8">
            <div class="card p-3">
                <h4>Datos del Usuario</h4>
                <p><strong>Nombre:</strong> {{ userData.nombre_user }}</p>
                <p><strong>Apellidos:</strong> {{ userData.apellido_user }}</p>
                <p><strong>Correo:</strong> {{ userData.correo_user }}</p>
            </div>
        </div>
    </div>

    <!-- Sección de Tabs -->
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item" (click)="activeTab = 'general'">
                    <a class="nav-link" [class.active]="activeTab === 'general'" href="#">Formaciones generales</a>
                </li>
                <li class="nav-item" (click)="activeTab = 'pendientes'">
                    <a class="nav-link" [class.active]="activeTab === 'pendientes'" href="#">Formaciones pendientes</a>
                </li>
                <li class="nav-item" (click)="activeTab = 'finalizadas'">
                    <a class="nav-link" [class.active]="activeTab === 'finalizadas'" href="#">Formaciones finalizadas</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <!-- Tab content -->
            <div *ngIf="activeTab === 'general'">
                <h5>Formaciones Generales</h5>
                <ul>
                    <li *ngFor="let form of formaciones">{{ form.nombre }}</li>
                </ul>
            </div>
            <div *ngIf="activeTab === 'pendientes'">
                <h5>Formaciones Pendientes</h5>
                <ul>
                    <li *ngFor="let form of formacionesPendientes">{{ form.nombre }}</li>
                </ul>
            </div>
            <div *ngIf="activeTab === 'finalizadas'">
                <h5>Formaciones Finalizadas</h5>
                <ul>
                    <li *ngFor="let form of formacionesFinalizadas">
                        {{ form.nombre }} - Finalizado el: {{ form.fechaFinalizacion | date:'longDate' }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
