<main>
<div class="table-responsive container mt-4">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Nombre Centro</th>
          <th>Dirección</th>
          <th>Código Postal</th>
          <th>Localidad</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of dataSource">
          <td>{{ element.nombre_centro }}</td>
          <td>{{ element.direccion_centro }}</td>
          <td>{{ element.cp }}</td>
          <td>{{ element.nombre_localidad }}</td>          
          <td>{{ element.telefono_centro }}</td>
          <td>{{ element.correo_centro }}</td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="modificarRegistro(element)">
              Modificar
            </button>
            <button class="btn btn-danger btn-sm" (click)="borrarRegistro(element)">
              Borrar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="container mt-3">
    <div class="d-flex justify-content-end">
      <!-- Botón para abrir el modal -->
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#altaCentroModal">
        Alta centro
      </button>
    </div>
  </div>
  
  <!-- Modal de Bootstrap -->
  <div class="modal fade" id="altaCentroModal" tabindex="-1" aria-labelledby="altaCentroModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="altaCentroModalLabel">Alta de Centro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="crearCentro()">
            <div class="mb-3">
              <label for="nombreCentro" class="form-label">Nombre Centro</label>
              <input type="text" class="form-control" id="nombreCentro" [(ngModel)]="nuevoCentro.nombre_centro" name="nombre_centro" required>
            </div>
            <div class="mb-3">
              <label for="direccionCentro" class="form-label">Dirección</label>
              <input type="text" class="form-control" id="direccionCentro" [(ngModel)]="nuevoCentro.direccion_centro" name="direccion_centro" required>
            </div>
            <div class="mb-3">
              <label for="cp" class="form-label">Código Postal</label>
              <input type="text" class="form-control" id="cp" [(ngModel)]="nuevoCentro.cp" name="cp" required>
            </div>
            <div class="mb-3">
              <label for="localidad" class="form-label">Localidad</label>
              <input type="text" class="form-control" id="localidad" [(ngModel)]="nuevoCentro.nombre_localidad" name="nombre_localidad" required>
            </div>
            <div class="mb-3">
              <label for="telefono" class="form-label">Teléfono</label>
              <input type="text" class="form-control" id="telefono" [(ngModel)]="nuevoCentro.telefono_centro" name="telefono_centro" required>
            </div>
            <div class="mb-3">
              <label for="correo" class="form-label">Correo</label>
              <input type="email" class="form-control" id="correo" [(ngModel)]="nuevoCentro.correo_centro" name="correo_centro" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de Bootstrap para Modificar Centro -->
<div class="modal fade" id="modificarCentroModal" tabindex="-1" aria-labelledby="modificarCentroModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modificarCentroModalLabel">Modificar Centro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="guardarCambiosCentro()">
            <div class="mb-3">
              <label for="nombreCentro" class="form-label">Nombre Centro</label>
              <input type="text" class="form-control" id="nombreCentro" [(ngModel)]="centroSeleccionado.nombre_centro" name="nombre_centro" required>
            </div>
            <div class="mb-3">
              <label for="direccionCentro" class="form-label">Dirección</label>
              <input type="text" class="form-control" id="direccionCentro" [(ngModel)]="centroSeleccionado.direccion_centro" name="direccion_centro" required>
            </div>
            <div class="mb-3">
              <label for="cp" class="form-label">Código Postal</label>
              <input type="text" class="form-control" id="cp" [(ngModel)]="centroSeleccionado.cp" name="cp" required>
            </div>
            <div class="mb-3">
              <label for="localidad" class="form-label">Localidad</label>
              <input type="text" class="form-control" id="localidad" [(ngModel)]="centroSeleccionado.nombre_localidad" name="nombre_localidad" required>
            </div>
            <div class="mb-3">
              <label for="telefono" class="form-label">Teléfono</label>
              <input type="text" class="form-control" id="telefono" [(ngModel)]="centroSeleccionado.telefono_centro" name="telefono_centro" required>
            </div>
            <div class="mb-3">
              <label for="correo" class="form-label">Correo</label>
              <input type="email" class="form-control" id="correo" [(ngModel)]="centroSeleccionado.correo_centro" name="correo_centro" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>